body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.row {
    float: left;
}

.square {
    border: 2px solid #000;
    border-radius: 6px;
    width: 43px;
    height: 43px;
    margin: 3px;
    float: left;
    text-align: center;
}