body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.square {
    border: 2px solid #000;
    padding: 20px;
    margin: 3px;
    display: inline-block;
}